/** 
 
 @Name: layer皮肤--sun
 @Date: 2016.11.23
 @Author: 皓月
 @website: meyouone.com
 @remark:
    简约耐看不失时尚的一款皮肤

**/

html #layui_layer_skindiystylecss{display:none; position: absolute; width:1989px;}
body .layer-ext-diy{
    padding: 0px 0px;
    -webkit-background-clip:initial;
    box-shadow:none;
    background-color: rgba(0,0,0,0);

}
body .layer-ext-diy .layui-layer-title{display:none;background:#f6f6f6; color:#000; border: 1px #e7e7e7 solid;}
body .layer-ext-diy .layui-layer-content .layui-layer-ico{width:48px; height:48px;}
body .layer-ext-diy .layui-layer-content{
    text-align: left;
    font-size: 14px;
}
body .layer-ext-diy .layui-layer-ico0{background:url(default.png) no-repeat 0 0;}
body .layer-ext-diy .layui-layer-ico1{background:url(default.png) no-repeat -48px 0;}
body .layer-ext-diy .layui-layer-ico2{background:url(default.png) no-repeat -96px 0;}
body .layer-ext-diy .layui-layer-ico3{background:url(default.png) no-repeat -144px 0;}
body .layer-ext-diy .layui-layer-ico4{background:url(default.png) no-repeat -192px 0;}
body .layer-ext-diy .layui-layer-ico5{background:url(default.png) no-repeat -240px 0;}
body .layer-ext-diy .layui-layer-ico6{background:url(default.png) no-repeat -288px 0;}
body .layer-ext-diy .layui-layer-ico7{background:url(default.png) no-repeat -336px 0;}
body .layer-ext-diy .layui-layer-ico8{background:url(default.png) no-repeat -384px 0;}
body .layer-ext-diy .layui-layer-ico9{background:url(default.png) no-repeat -432px 0;}
body .layer-ext-diy .layui-layer-ico10{background:url(default.png) no-repeat -480px 0;}
body .layer-ext-diy .layui-layer-ico11{background:url(default.png) no-repeat -528px 0;}
body .layer-ext-diy .layui-layer-ico12{background:url(default.png) no-repeat -576px 0;}
body .layer-ext-diy .layui-layer-ico13{background:url(default.png) no-repeat -624px 0;}
body .layer-ext-diy .layui-layer-setwin .layui-layer-close1 {width: 14px; height: 14px; background:url(close.png) no-repeat;}
body .layer-ext-diy .layui-layer-btn{padding:5px 0;}
body .layer-ext-diy .layui-layer-padding{padding-top:28px;padding-left:74px;padding-bottom: 30px;}
body .layer-ext-diy .layui-layer-btn0{
    margin: 0 8px;
    border: 1px solid #cccccc;
    color: #000000;
    border-radius: 20px;
    padding: 0 30px;
    background: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
body .layer-ext-diy .layui-layer-btn1{
    margin: 0 8px;
    border: 1px solid #cccccc;
    color: #000000;
    border-radius: 20px;
    padding: 0 30px;
    background: #ffffff;
    font-size: 14px;
    font-weight: 400;
}