<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="./css/global.css">
    <link rel="stylesheet" type="text/css" href="./css/andi.css">
    <script src="./js/jquery/dist/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="./js/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
    <script src="./js/angular/angular.js"></script>
    <script src="./js/layer/layer.js"></script>
    <script src="./js/andi.js"></script>
</head>
<body ng-app="AnDi">
<div class="container">
    <div class="memberHandle">
        <div class="memberHandleTitle">
            会员操作
        </div>
        <div class="memberHandleContent">
            <div class="clearfix">
                <div class="memberHandleContent-photo fl">
                    <img src="./img/new_photo11.jpg">
                </div>
                <div class="memberHandleContent-info fl">
                    <table class="mt10 ml30">
                        <tr><td>姓名：李大友</td><td>会员编号：9627</td></tr>
                        <tr><td>会员类型：普通会员</td><td>卡号：15456455</td></tr>
                        <tr><td>电话：13990419305</td><td>课程顾问：李大成</td></tr>
                        <tr><td>当前余额：0元</td><td></td></tr>
                    </table>
                </div>
            </div>
            <div class="memberHandleContent-course clearfix">
                <div class="memberHandleContent-package fl ml30">
                    <span>套餐：</span>
                    <select>
                        <option>新春街舞大礼包</option>
                        <option>元宵套餐</option>
                    </select>
                </div>
                <div class="memberHandleContent-package ml30 fl">
                    <span>课程：</span>
                    <select>
                        <option>美丽瘦身日记</option>
                        <option>菲儿厉害</option>
                    </select>
                </div>
            </div>
            <ul>
                <li>会员扣课</li>
                <li>会员充值</li>
                <li>会员签单</li>
                <li>会员选课</li>
                <li>信息修改</li>
                <li>补卡</li>
            </ul>
        </div>
    </div>
    <header>
        <div class="top">
            <div class="top-logo">
                <p class="cn">蜜游网营销管理系统</p>
                <p class="en">CUSTOMER FOLLOW-UP SYSTEM</p>
            </div>
            <div class="info">
                <a href="#" class="loginout"><img src="img/icon_loginout.png" alt=""></a>
                <span class="info_txt">小葵，欢迎登陆</span>
            </div>
        </div>
    </header>
    <nav class="navLeft" ng-controller="navList">
        <ul>
            <li ng-repeat="nav in navList">
                <div class="navTitle" ng-click="isActive($index)">{{nav.title}}</div>
                <div class="navContent" ng-show="navIndex==$index">
                    <p ng-repeat="subNav in nav.content track by $index">{{subNav}}</p>
                </div>
            </li>
        </ul>
    </nav>
    <div class="content" ng-controller="homeController">
        <!--<div class="homeNav">
            <ul>
                <li><img src="./img/custom_get.jpg"></li>
                <li><img src="./img/people.png"></li>
                <li><img src="./img/add.png"></li>
                <li><img src="./img/custom.png"></li>
            </ul>
        </div>-->
        <div class="homeNav" ng-controller="navHandle">
            <ul class="clearfix">
                <li><a href="#"><img src="./img/custom_get.jpg"><p>添加会员</p></a></li>
                <li ng-click="memberHander()"><a href="#"><img src="./img/people.png"><p>操作会员</p></a></li>
                <li><a href="#"><img src="./img/add.png"><p>待审核储值</p></a></li>
                <li><a href="#"><img src="./img/custom.png"><p>待审核开单</p></a></li>
            </ul>
        </div>
        <div class="layout pb20">
            <div class="mt20 clearfix">
                <div class="todaySituation">
                    <p class="todayTitle">今日情况</p>
                    <div class="todaySituationDetail">
                        <ul>
                            <li>新增会员：<span class="t-4e4193">32</span>人</li>
                            <li>新储值：<span class="t-ff9900">183</span>元</li>
                            <li>新开单：<span class="t-ff0000">3</span>单</li>
                        </ul>
                    </div>
                </div>
                <div class="classSituation">
                    <p class="todayTitle">上课情况 <input></p>
                    <div>
                        <table class="classTable">
                            <tbody>
                                <tr><th>名字</th><th>时间</th><th>课程</th><th>课时扣取</th><th>处理人</th></tr>
                                <tr ng-repeat="list in classSituations">
                                    <td>{{list.name}}</td>
                                    <td>{{list.time}}</td>
                                    <td>{{list.course}}</td>
                                    <td>{{list.timeCost}}</td>
                                    <td>{{list.handleName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="todayClass">
                <p class="todayTitle">今日课程</p>
                <div class="todayClassOverflow">
                    <table class="classTable">
                        <tbody>
                        <tr><th>课程名</th><th>教师</th><th>时间</th><th>舞种</th><th>教室</th><th>选课人数</th><th>班级类型</th><th>课程类型</th></tr>
                        <tr ng-repeat="list in todayCourses">
                            <td>{{list.courseName}}</td>
                            <td>{{list.teacher}}</td>
                            <td>{{list.time}}</td>
                            <td>{{list.danceType}}</td>
                            <td>{{list.classroom}}</td>
                            <td>{{list.peopleNum}}</td>
                            <td>{{list.classType}}</td>
                            <td>{{list.courseType}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>